Author: opa334 <opa334@protonmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: Choicy
Package: com.seeyouios.choicy
Depends: firmware (>= 10.0), mobilesubstrate (>= 0.9.5000), preferenceloader, applist
Section: Tweaks
Installed-Size: 784
Version: 1.2.4-2
Architecture: iphoneos-arm
Description: Advanced Tweak Configuration!
Depiction: http://SeeYouiiOS.github.io/moreinfo/depiction.php?file=choicyDp
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=choicyDp
Sponsor: thebigboss.org <http://thebigboss.org>
dev: opa334
Tag: purpose::extension, compatible::ios10, compatible::ios11, compatible::ios12, compatible::ios13
Icon: file:///Library/PreferenceBundles/ChoicyPrefs.bundle/ChoicyIcon@2x.png
