Package: com.rpgfarm.a-bypass
Name: A-Bypass
Depends: mobilesubstrate, com.muirey03.libmryipc
Suggests: applist
Architecture: iphoneos-arm
Description: Super Jailbreak detection bypass!
Maintainer: Baw Appie <pp121324@gmail.com>
Author: Baw Appie <pp121324@gmail.com>
Section: Tweaks
Version: 1.2.7
Installed-Size: 444
