Package: ml.seeyouios.dlgmemorinjected
Name: DLGMemor Injected
Depends: firmware (>= 11), mobilesubstrate, preferenceloader, applist
Architecture: iphoneos-arm
Description: Injection library that allows you to alter memory in app.
Maintainer: Sizar
Author: Richard Applegate <support@x4-Applegate.com>
Section: Tweaks
Version: 13.5
Installed-Size: 716
