Author: Aidoo.TK <aidoo.tk@gmail.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: GameGem
Package: com.seeyouios.gamegem
Depends: firmware (>= 8.0)
Section: Tweaks
Installed-Size: 10613
Version: 1.5
Architecture: iphoneos-arm
Description: Memory debug tool for iOS. Support iPhone and iPad above iOS 8.x -♾
dev: aidoo
Tag: purpose::uikit, compatible::ios8, compatible::iOS 9-13
